
<h2 class="heading">Sign up</h2>

<div class="sign-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="feild">
      <%= f.label :first_name %>:<br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="feild">
      <%= f.label :last_name %>:<br />
      <%= f.text_field :last_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %>:<br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>:
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>:<br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="feild">
      <%= f.label :phone_number %> (+61):<br />
      <%= f.telephone_field :phone_number, autofocus: true %>
    </div>

    <div class="feild">
      <%= f.label :unit_address %>:<br />
      <%= f.text_field :unit_address, autofocus: true %>
    </div>

    <div class="feild">
      <%= f.label :suburb %>:<br />
      <%= f.text_field :suburb, autofocus: true %>
    </div>

    <div class="feild">
      <%= f.label :postal_code %>:<br />
      <%= f.number_field :postal_code, autofocus: true, max: 9999 %>
    </div>

    <div class="feild">
      <%= f.label :state_id %>:<br />
      <%= f.collection_select :state_id, State.all, :id, :state_name %>
    </div>
    
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
