<h1>Game Advertisement List</h1>

<main>
    <% @listings.each do |l| %>
    <section class="border">
        <%= image_tag(l.picture) if l.picture.attached? %>
        <p>
            <h4><u><%= link_to "#{l.listing_title}", l %></u></h4>
            Console Type: <strong><%= l.console.console_type %></strong>
        </p>
        <p>
            <%= l.description %>
        </p>
        <p>
            <strong>$<%= l.price %></strong>
        </p>
        <p>
            <%= l.user.first_name%> <%= l.user.last_name%>
        </p>
        <p>
            <%= l.user.suburb%>, <%= l.user.state.state_name%>
        </p>
        <p>
            <%= l.updated_at.strftime("%B %d, %Y") %>
        </p>
    </section>
    <% end %>
</main>
