<%# Ruby iterators returning the specific elements of seller listings %>

<%= form_with(method:'get', url: listings_path, scope: :search, local: true) do |f| %>
    <%=f.label :listing_title%>
    <%f.text_field :listing_title %>

    <%=f.label :console_id%>
    <%=f.select :console_id, @consoles.map {|m| [m.console_type, m.id]} %>

    <%= f.submit "Search" %>
<% end %>

<% @listings.each do |l| %>
    <%# flexbox to manage the alignment and position of the inner flexbox%>
    <main class="index-outer-box">

        <%# flexbox contains image %>
        <section class="index-inner-box1">
            <%# using Ruby to check whether a picture is uploaded or not %>
            <%= image_tag l.picture, class: "image" if l.picture.attached? %>
        </section>

        <%# flexbox contains listing title, console type, and description %>
        <section class="index-inner-box2">
            <%# using Ruby to bring up listing title created by users from database %>
            <h4><%= link_to "#{l.listing_title}", l %></h4>
            <%# using Ruby to bring up console type chosen by users from database %>
            <p>
                Console Type: <strong><u><%= l.console.console_type %></u></strong>
            </p>
            <%# using Ruby to bring up description created by users from database %>
            <p>
                <%= l.description %>
            </p>
        </section>

        <%# flexbox contains seller's name, subrub, state, and listing time %>
        <section class="index-inner-box3">
            <%# using Ruby to bring up price set by users from database %>
            <p>
                Price: <strong><u>$<%= l.price %></u></strong>
            </p>
            <%# using Ruby to bring up user first and last name from database %>
            <p>
                <%= l.user.first_name.capitalize%> <%= l.user.last_name.capitalize%>
            </p>
            <%# using Ruby to bring up user suburb and state from database %>
            <p>
                <%= l.user.suburb.capitalize%>, <%= l.user.state.state_name%>
            </p>
            <br>
            <span>Last Update:</span>
            <%# using Ruby to bring up listing last update time from database %>
            <span><%= l.updated_at.strftime("%B %d, %Y") %><span><br>
        </section>

    </main>
<% end %>

