<%= form_with model: listing do |form| %>
    <% if listing.errors.any? %>
        <div>
            <h2><%= pluralize(listing.errors.count, "error") %> occured. Please follow the requirements below:</h2>
            <ul>
                <% listing.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :listing_title %>:
        <%= form.text_field :listing_title %>
    </div><br>

    <div class="field">
        <%= form.label :console_id %>:
        <%= form.collection_select :console_id, Console.all, :id, :console_type %>
    </div><br>

    <div class="field">
        <%= form.label :description %>:<br>
        <%= form.text_area :description, size: "70x5" %>
    </div><br>

    <div class="field">
        <%= form.label :price %>:
        <%= form.number_field :price, min: 0, max: 1000 %>
    </div><br>

    <div class="field">
        <%= form.label :picture %>:
        <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %>
    </div><br>

    <div class="actions"> 
        <%= form.submit %>
    </div>

<% end %>

