<nav>
    <% if user_signed_in? %>
        <span><%= "Welcome, #{current_user.first_name}!"%> </span>
        <br>
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
    <% else %>
        <span><%= link_to "Sign In", new_user_session_path %></span>
        <span><%= link_to "Register", new_user_registration_path %></span>
    <% end %>
    <span><%= link_to "Listing", new_listing_path %></span>
</nav>