<%= form_with model: @post do |form| %>
    <div class="field">
        <%= form.label :listing_title %>:
        <%= form.text_field :listing_title %>
    </div><br>

    <div class="field">
        <%= form_for @post do |f| %>
            <%= form.label :console %>:
            <%= f.select :console_id, Console.all.collect { |p| [ p.console_type] }%>
        <% end %>
    </div><br>

    <div class="field">
        <%= form.label :description %>:<br>
        <%= form.text_area :description, size: "70x5" %>
    </div><br>

    <div class="field">
        <%= form.label :price %>:
        <%= form.number_field :price, min: 0, max: 1000 %>
    </div><br>

    <div class="action">
        <%= form.submit %>
    </div>
<% end %>

